body {
    background-image: url(combined-bg.png);
    background-size: 100%;
}

#user-input {
    margin: auto;
    width: 35%;
    height: auto;
    background-color: black;
    color: #FDB913;
    opacity: 0.9;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20%;
}